# SPDX-FileCopyrightText: 2025 Digg - Agency for Digital Government
#
# SPDX-License-Identifier: EUPL-1.2

# Global code owners
* @ChristofferKillander @danneleaf @eric-thelin @johan-forsman @mjsaa @shir-digg
